.info{
    width: 1366px;
    height: 150px;
    display: flex;
    margin:0 auto;

}
.logo{
    position: absolute;
    width: 88px;
    height: 59px;
    margin-top: 27px;
    margin-left: 92px;
}
.search{
    width: 570px;
    height: 48px;
   border: solid gray 0.5px;
   margin-top: 30px;
   margin-right: 491px;
   margin-left: 381px;
   border-radius: 8px;
   display: flex;
   justify-content: space-between;

    }
    .search-p{
        font-size: 14px;
      margin-left: 5px;
        margin-top: 15px;
        opacity: 0.5;
    }
    .fa-search{
        width: 18px;
        height: 18px;
        opacity: 0.5;
        margin-top: 15px;
        margin-right: 50px;
    }
    .icons{
        display: flex;
        width: 140px;
        height:  35px;
        margin-top: 39px;
        margin-right: 120px;

    }
    .fa-heart{
        width: 28px;
        height: 25px;
    }
    .fa-user{
        width: 28px;
        height: 25px;
    }
    .fa-shopping-cart{
        width: 28px;
        height: 25px;
    }
    .list{
        display: flex;
        height: 23px;
        width: 1366px;
        margin: 0 auto;
        margin-bottom: 2px;
        margin-left: 400px;
        justify-content: space-between;
       
    }
    .ul{
        display: flex;
       
    }
    .li{
        margin-right: 35px;
        justify-content: space-between;
        
    }

                  /*section-1*/
.section-1-image{
    background-image: url(../images/Mask.jpg);
    max-width: 1366px;

   height: 594px;
   margin:0 auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
}
.section-1-inf{
width: 595px;
height: 310px;
 
 margin: 170px 0px 170px 111px;
 
}
.section-1-p{
    font-size: 40px;
    color: #FFF;
    margin-bottom: 19px;
}
.section-1-p2{
    font-size: 16px;
    color: #FFF;
    margin-bottom: 37px;
}
.section-box{
    display: flex;
}
.box{
    width: 137px;
    height: 50px;
    display: flex;
    background-color: #FF4F04;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    margin-right: 15px;
    
}
.box-2{
    width: 224px;
    height: 50px;
    display: flex;
    background-color: #a58b8036;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
}


.section-img{
    background-image: url(../images/Mask\ Group\ 1.svg);
   height: 594px;
   width: 674px;
   background-repeat: no-repeat;
   
  
}


       /* section-2*/

  .section-2-box{
      width: 1366px;
      height: 282px;
      background-color: rgba(144, 161, 161, 0.288);
      margin: 0 auto;
      text-align: center;
     padding-top: 52px;
  }

  .section-2-p{
      margin-bottom: 5px;
      font-size: 14px;
  }
  .section-2-p2{
    
    font-size: 25px;
}


/*section 3*/
.section-3{
    display: flex;
}
.section-3-box{
    width: 1366px;
    height: 394px;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.section-3-box-1{
    width: 270px;
    height: 363px;
    
    border-radius: 8px;
   margin-top: -195px;
}
 .price-box-p{
     text-align: center;
     margin-top: 5px;
 }
.price-box{
    width: 56px;
    height: 31px;
    border-radius: 10px;
    background-color:#ff4f0465 ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    
    
    
}

/*section-4*/
.section-4{
    width: 1366px;
    height: 251px;
    
    margin: 0 auto;
    
}

.section-4-photo{
    background-image: url(../images/Rectangle.jpg);
    width: 1370px;
    height: 251px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-size: 30px;
}


.section-4-box{
 width: 225px;
 height: 57px;
 border-radius: 8px;
 border:  solid 0.8px;
 margin-right: 15px;
 
}
.section-4-box-p{
    margin-top: 20px;
    font-size: 15px;
}





.section-5{
  width: 1370px;
  height: 1050px;

  margin: 0 auto;

}

.section-5-p{
    width: 1370px;
    text-align: center;
    height: 150px;
 
    
}
.section-5-p1{
    text-align: center;
    font-size: 15px;
    padding-top: 80px;
    padding-bottom: 7px;
    
}
.section-5-p2{
    text-align: center;
    font-size: 30px;
  
}



.container-5{
    width: 1366px;
    height: 680px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
   
}
.section-5-box1{
    width: 540px;
    height:680px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-1{
    width: 240px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
   }
  
   
  .pr-inf{
  
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
  
  }
  .pr{
      width: 55px;
      height: 20px;
      border-radius: 15px;
      background-color:  #f7e8ce;
      text-align: center;
      margin-left: 20px;
      
  }
  .pr-p{
      color: #FF4F04;
      font-size: 14px;
      margin-top: 4px;
  }



.section-5-box2{
    width: 540px;
    height:680px;
   
}
.sale{
    width: 98px;
    height: 34px;
    background-color: black;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    

    
    
}
.sale-p{
    color: white;
   font-size: 14px;
   padding-top: 10px;
   text-align: center;
   
}
.sale-p2{
    width: 50px;
    height: 24px;
    border-radius: 30px;
    background-color: #f7e8ce;
    margin-top: -35px;
    margin-left: 450px;
    margin-bottom: 10px;
    
    
}
.p2-p{
    color: #FF4F04;
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
}
.section5-bc{
    background-image: url(../images/Image.svg);
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
.section-5-box{
    
    width: 225px;
    height: 57px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    border:  solid 0.8px;
    
}

          /*section-6*/

.section-6{
    width: 1370px;
    height: 1157px;
    
    margin: 0 auto;
}
.section-6-container{
    width: 1197px;
    height: 729px; 
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 0 auto;

}


/*footer*/
.footer{
    width: 1370px;
    height: 353px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.footer-text{
    width: 247px;
    height: 145px;
    padding-top: 70px;
    padding-left: 88px;
}
.footer-inf{
    padding-top: 70px;
}
.footer-1{
    font-size: 18px;
    padding-bottom: 8px;
}
.footer-2{
    padding-bottom: 8px;
}

.inf{
    width: 1366px;
    margin: 0 auto;
}